.page-header {
    .ph-title-description {
        .singular-title {
            max-height: 400px;
            hr {
                border-color: #AD3D30;
                border-width: 8px;
                width: 288px;
                margin-left: 0;
            }
            p {
                white-space: pre-wrap;
                margin-bottom: 0;
            }
        }
    }
}