hr.mi-hr {
    border-color: #AD3D30;
    border-width: 8px;
    width: 300px;
    margin-left: 0;
    &.title {
        border-width: 4px;
        width: 200px;
    }
}
.page-header {
    .ph-title-description {
        .singular-title {
            max-height: 400px;
            p {
                color: #000;
                font: {
                    size: 18px;
                    weight: 400;
                }
                margin-bottom: 0;
                white-space: pre-wrap;
            }
        }
    }
}

.front-page {
    .front-page-header {
        h1 {
            font-size: 24px;
            font-weight: 600;
        }
    }
    .front-page-body {
        .figure {
            img {
                //object-fit: none;
            }
            .figure-caption {
                color: #000;
                font: {
                    size: 18px;
                    weight: 600;
                }
            }
        }
        .front-page-list {
            text-align: center;
            li {
                list-style: none;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                a {
                    font: {
                        size: 16px;
                        weight: 400;
                    }
                    line-height: 28px;
                    color: #000;
                    &:hover {
                        color: #AD3D30;
                        text-decoration: none;
                    }
                }
                &:last-child {
                    -webkit-column-break-inside: auto;
                    page-break-inside: auto;
                    break-inside: auto;
                }
            }
            @media only screen and (min-width: 768px){
                -moz-column-count: 3;
                -moz-column-gap: 0;
                -moz-column-rule: none;
                -webkit-column-count: 3;
                -webkit-column-gap: 0;
                -webkit-column-rule: none;
                column-count: 3;
                column-gap: 4rem;;
                column-rule: none;
            }
            @media only screen and (min-width: 1408px){
                -moz-column-count: 4;
                -moz-column-gap: 7rem;
                -moz-column-rule: none;
                -webkit-column-count: 4;
                -webkit-column-gap: 7rem;
                -webkit-column-rule: none;
                column-count: 4;
                column-gap: 7rem;
                column-rule: none;
            }
        }
        #more {
            background-color: #AD3D30;
            cursor: pointer;
            i {
                padding: 0.2rem;
            }
        }
    }
}